@model IEnumerable<BlogApp.Entity.Blog>
@{
    ViewData["Title"] = "Index";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-md-9">
            @foreach (var item in Model)
            {
                <div class="card">
                    <img class="card-img-top" src="img/@item.Image" alt="Card image gap"/>
                    <div class="card-header">
                        @item.Name
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">@item.Name</h4>
                        <p class="card-text">@item.Description</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            }
      

        </div>
    </div>
</div>
