@model BlogApp.Entity.Blog
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <h1>Create Blog</h1>
    <br />
    <form asp-controller="Blog" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name">Title</label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Body">Body</label>
            <textarea asp-for="Body" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Image">Image</label>
            <input asp-for="Image" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">CategoryId</label>
            <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories">
                <option disabled selected value="">Select Category</option>
            </select>
        </div>
        <div class="form-check">
            <label asp-for="isHome" class="form-check-label">
                <input asp-for="isHome" type="checkbox" class="form-check-input"/>
                Is Home
            </label>
        </div>
        <div class="form-check">
            <label asp-for="IsApproved" class="form-check-label">
                <input asp-for="IsApproved" type="checkbox" class="form-check-input" />
                Is Approved
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

